$iphone: "only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait)";

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body {
  -webkit-font-smoothing: antialiased;
}

#next-game {
  background: url(/img/127128.jpg) no-repeat center center;
  min-height: 200px;

  h1, span, .score h2 {
    color: #fff;
    text-align: center;
  }
  h1 {
    padding: 40px 0 20px;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  }
  span {
    display: block;
    font-size: 24px;
    line-height: 28px;
  }
  .logo {
    max-width: 100px;
    display: block;

    &.home {
      margin-left: auto;
    }
    &.away {
      margin-right: auto;
    }
  }
  .row {
    padding-bottom: 40px;
  }
}

#schedule {
  .gametime {
    float: right;
  }
}

@media #{$iphone} {
  #next-game {
    span {
      font-size: 18px;
    }
    .logo {
      max-width: 80px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  .item {
    font-size: 14px;
  }
}
